<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <h1> Hi! Welcome to my weather app! </h1>
    <p> My name is Tony Reina </p>
    <p> I am currrently a senior at Point Park Univeristy studying IT </p>
    <p> Thank You for visiting! </p>
  </body>

</html>
