<!DOCTYPE html>
<html>
  <head>
    <title>Support</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    Need help? contact me at my email: asreina@pointpark.edu
  </body>

</html>
